
.icon-phone-outline:before { content: '\e800'; } /* '' */
.icon-adult:before { content: '\e801'; } /* '' */
.icon-book-open:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e803'; } /* '' */
.icon-warehouse:before { content: '\e840'; } /* '' */